body{
    margin: 0;
    padding: 0;
    background-color: #fdfdff;
    /*overflow: hidden;*/
}

#navbar{
    background-color: #fdfdff;
    overflow: hidden;
    padding-top: 1vw;
    position: sticky;
    top: 0;
    z-index: 100;
}

#navbar a{
    float: right;
    display: block;
    color: #333333;
    text-align: center;
    padding: 1vw 1.5vw;
    text-decoration: none;
    font-size: 2vw;  
    border-radius: 2vw;
}

#navbar a:hover{
    color: #fdfdff;
    background-color: #333333;
}

#headline{
    margin: 5vw 10vw 2vw 10vw;
    height: 30vw;
}

#logo{
    padding-top: 5vw;
    color:#333333;
    font-size: 9vw;
}

#logo-desc{
    color:#333333;
    font-size: 3vw;
}

button{
    margin-top: 2vw;
    border-radius: 1vw;
    padding: 1vw 2vw;
    color: #eeeeff;
    background: #333333;
    font-size: 1.5vw;
}

#skillset{
    margin: 5vw 10vw 2vw 10vw;
    /*padding: 10vw 0 0 0;*/
    height: 25vw;
}

.skill{
    width: 20%;
    float: left;
}

.skill-logo{
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 10vw;
    display: block;
}

.skill-name{
    margin-top: 1vw;
    text-align: center;
    color: #333333;
    font-size: 1.5vw;
}

#educational{
    margin: 5vw 10vw 2vw 10vw;
    /*height: 50vw;*/
    /*padding: 10vw 0 0 0;*/
}

@media (max-width: 752px)

{
    .school{
        /*height: 12.5vw;*/
        /*min-height: 33%;*/
    }

    .school-title{
        width: 100%;
    }

    .school-name{
        text-align: left;
        color: #333333;
        font-size: 2vw;
        font-weight: bold;
    }

    .school-desc{
        text-align: left;
        color: #333333;
        font-size: 2vw;
    }

    .school-logo{
        margin-right: 2vw;
        padding: 1vw;
        width: 20%;
        display: block;
        float: left;
        border-radius: 2vw;
        opacity: 50%;
        background: #aaaaaa;
        overflow: hidden;
    }

    .school-logo:hover{
        opacity: 100%;
        background: #fdfdff;
        transition: .5s ease;
        overflow: hidden;
    }

    .school-block{
        width: 100%;
        height: 25vw;
    }
}

@media (min-width: 752px) {
    .school{
        width: 100%;
        margin: 2vw 0;
        height: 12.5vw;
        min-height: 33%;
    }

    .school-title{
        width: 100%;
        height: 2vw;
    }

    .school-name{
        text-align: left;
        color: #333333;
        font-size: 2vw;
        font-weight: bold;
        display: inline;
    }

    .school-desc{
        text-align: left;
        color: #333333;
        font-size: 2vw;
        float: right;
        display: inline;
    }

    .school-logo{
        margin-right: 2vw;
        padding: 1vw;
        width: 15%;
        display: block;
        float: left;
        border-radius: 2vw;
        opacity: 50%;
        background: #aaaaaa;
        overflow: hidden;
    }

    .school-logo:hover{
        opacity: 100%;
        background: #fdfdff;
        transition: .5s ease;
        overflow: hidden;
    }

    .school-block{
        width: 100%;
    }
}

.school-summary{
    text-align: left;
    color: #333333;
    font-size: 1.5vw;
}

#achievements{
    margin: 5vw 10vw 2vw 10vw;
    height: 25vw;
}

.achievement{
    width: 100%;
    margin: 2vw 0;
    /*height: 12.5vw;*/
}

.achievement-name{
    text-align: left;
    color: #333333;
    font-size: 2vw;
}

.achievement-desc{
    text-align: left;
    color: #333333;
    font-size: 1.5vw;
}

#contacts{
    margin: 5vw 10vw 2vw 10vw;
    /*padding: 10vw 0 0 0;*/
    height: 35vw;
}

.contact{
    width: 33%;
    float: left;
}

.contact a{
    text-decoration: none;
}

.contact-logo{
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 10vw;
    display: block;
    border-radius: 2vw;
    opacity: 50%;
    background: #aaaaaa;
    overflow: hidden;
}

.contact-logo:hover{
    opacity: 100%;
    background: #fdfdff;
    transition: .5s ease;
    overflow: hidden;
}

.contact-name{
    margin-top: 2vw;
    text-align: center;
    color: #333333;
    font-size: 2vw;
}

#footer{
    background-color: #333333;
    color: #fdfdff;
    padding: 2vw 0;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

#made{
    font-size: 1vw;
    text-align: center;
}

h2{
    color: #333333;
    font-size: 3vw;
}

h4{
    padding-left: 1vw;
    color: #333333;
    font-size: 2vw;
    margin: 0;
}


/*Skillset.html only*/
#skills{
    margin: 5vw 10vw 2vw 10vw;
    height: 30vw;
}

.skill-block{
    width: 45%;
    margin: 0 0 0 3vw;
    display: block;
    height: 2vw;
    float: left;
}

.skill-block-name{
    font-size: 1.5vw;
    font-weight: bold;
    color: #333333;
    float: left;
    width: 40%;
}

.skill-level{
    font-size: 1.5vw;
    color: #333333;
    float: left;
    margin: 0 5vw;
}

#projects{
    margin: 5vw 10vw 2vw 10vw;
    /*padding: 10vw 0 0 0;*/
    /*use 35*rows for height*/
    height: 70vw;
}

.project-col{
    height: 30vw;
    display: block;
    margin: 1vw auto;
}

.project-card{
    box-shadow: 0 0.5vw 0.75vw 0 rgba(3,3,3,0.2);
    transition: 0.3s;
    width: 27%;
    float: left;
    margin: 1vw 2vw;
    opacity: 70%;
    border-radius: 2vw;
}

.project-card:hover{
    box-shadow: 0 0.75vw 1vw 0 rgba(3,3,3,0.3);
    opacity: 100%;
}

.project-card img{
    width: 90%;
    padding: 1vw;
    margin: 0 auto;
}

.project-name{
    padding: 1vw 2vw;
    color: #333333;
    text-align: center;
    font-size: 1.5vw;
    height: 6vw;
    border-radius: 0 0 2vw 2vw;
}

/*Article Related*/
#project-article{
    margin: 5vw 10vw 2vw 10vw;
}

.project-image{
    width: 50%;
    margin: 0 auto;
    display: block;
    padding-bottom: 5vw;
}

.project-desc{
    font-size: 2.5vw;
    color: #333333;
    text-align: justify;
}


/*Education.html*/
#courses{
    margin: 5vw 10vw 2vw 10vw;
    height: 30vw;
}

.course-block{
    width: 45%;
    margin: 0 0 0 3vw;
    display: block;
    height: 2vw;
    float: left;
    font-size: 1.5vw;
    font-weight: bold;
    color: #333333;
}

.years{
    float: right;
    color: #333333;
    font-size: 3vw;
}